<%= render partial: 'shared/header' %>

<div class="contact-done-content">
  <h2>お問い合わせありがとうございます！</h2>
  <p>後日ご連絡致しますのでお待ち下さい。</p>
  <%= image_tag 'thanks.svg' %>
  <div class="module-spacer--large"></div>
  <a href="/">トップへ戻る</a>
</div>

<%= render partial: 'shared/footer' %>