.iryo-container{
  padding: 50px 200px;
  
  .iryo-description{
    display: flex;
    justify-content: space-evenly;
    
    .iryo-description-text{

      span{
        display: block;
        text-align: center;
        font-size: 28px;
        color: blue;
        border-bottom: 1px solid blue;
        width: 265px;
        padding-top: 50px;
        margin-bottom: 10px;
      }

      p{
        font-size: 18px;
      }

    }

    .iryo-description-img{
      img{
        width: 500px;
      }
    }
  }
}

  // サービスのフロー
  .service-flow{

    .about-us-title{
      font-size: 28px;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid rgb(73, 69, 69);
      width: 400px;
    }

    ul {
      padding: 0px 10%;
    }
    li {
      list-style-type: none;
    }
    dd {
      margin-left: 0;
    }
    
    .flow > li {
      position: relative;
    }
    .flow > li:not(:last-child) {
      margin-bottom: 40px;
    }
    .flow > li:not(:first-child)::before {
      content: "";
      height: 60px;
      display: block;
      border-left: 4px dotted #e5e5e5;
      position: absolute;
      top: -40px;
      left: -webkit-calc(10% + 30px - 2px);
      left: calc(10% + 30px - 2px);
      z-index: 10;
    }
    .flow > li dl {
      width: 100%;
      padding: 20px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 2px solid rgb(107,144,219);
      border-radius: 10px;
      position: relative;
    }
    .flow > li:not(:last-child) dl::before,
    .flow > li:not(:last-child) dl::after {
      content: "";
      border: solid transparent;
      position: absolute;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .flow > li:not(:last-child) dl::before {
      border-width: 22px;
      border-top-color: rgb(107,144,219);
    }
    .flow > li:not(:last-child) dl::after {
      border-width: 20px;
      border-top-color: #fff;
    }
    .flow > li dl dt {
      font-size: 20px;
      font-weight: 600;
      color: rgb(107,144,219);
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      margin-right: 2vw;
      text-align: center;
    }
    .flow > li dl dt .icon {
      font-size: 12px;
      color: #fff;
      background: rgb(107,144,219);
      background: -moz-linear-gradient(left, rgba(107,144,219,1) 0%, rgba(102,213,233,1) 100%);
      background: -webkit-linear-gradient(left, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
      background: linear-gradient(to right, rgba(107,144,219,1) 0%,rgba(102,213,233,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
      padding: 5px 10px;
      margin-bottom: 10px;
      display: block;
      border-radius: 20px;
      position: relative;
      z-index: 100;
    }
}

@media (max-width: 1024px) {

  .iryo-container{
    padding: 0px 10px;

    .iryo_test{
      width: 100%;
      font-size: 16px;
      a{
        display: block;
      }
    }
    
    .iryo-description{
      
      .iryo-description-text{
  
        span{
          font-size: 24px;
          width: 230px;
          padding-top: 0px;
          margin-bottom: 5px;
        }
  
        p{
          font-size: 16px;
        }
  
      }
  
      .iryo-description-img{
        display: flex;
        align-items: center;

        img{
          display: block;
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  
    // サービスのフロー
    .service-flow{
  
      .about-us-title{
        font-size: 24px;
        width: 200px;
      }
  
      ul {
        padding: 0px 5%;
      }
      dd {
        font-size: 14px;
      }
      
      .flow > li:not(:last-child) {
        margin-bottom: 20px;
      }
      .flow > li:not(:first-child)::before {
        height: 30px;
        top: -20px;
        left: -webkit-calc(5% + 15px - 1px);
        left: calc(5% + 15px - 1px);
      }
      .flow > li dl {
        padding: 10px 15px;
        border-radius: 5px;
      }
      .flow > li:not(:last-child) dl::before,
      .flow > li:not(:last-child) dl::after {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
      }
      .flow > li:not(:last-child) dl::before {
        border-width: 11px;
      }
      .flow > li:not(:last-child) dl::after {
        border-width: 10px;
      }
      .flow > li dl dt {
        font-size: 8px;
        font-weight: 300;
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
        margin-right: 1vw;
      }
      .flow > li dl dt .icon {
        font-size: 6px;
        padding: 2.5px 5px;
        margin-bottom: 5px;
        border-radius: 10px;
      }
  }
}
    

@media (max-width: 750px) {

  .iryo-container{
    padding: 0px 10px;

    .iryo_test{
      width: 100%;
      font-size: 14px;
      a{
        display: block;
      }
    }
    
    .iryo-description{
      
      .iryo-description-text{
  
        span{
          font-size: 14px;
          width: 130px;
          padding-top: 25px;
          margin-bottom: 5px;
        }
  
        p{
          font-size: 11px;
        }
  
      }
  
      .iryo-description-img{
        display: flex;
        align-items: center;

        img{
          display: block;
          width: 150px;
          height: 150px;
        }
      }
    }
  }
  
    // サービスのフロー
    .service-flow{
  
      .about-us-title{
        font-size: 14px;
        width: 200px;
      }
  
      ul {
        padding: 0px 5%;
      }
      dd {
        font-size: 12px;
      }
      
      .flow > li:not(:last-child) {
        margin-bottom: 20px;
      }
      .flow > li:not(:first-child)::before {
        height: 30px;
        top: -20px;
        left: -webkit-calc(5% + 15px - 1px);
        left: calc(5% + 15px - 1px);
      }
      .flow > li dl {
        padding: 10px 15px;
        border-radius: 5px;
      }
      .flow > li:not(:last-child) dl::before,
      .flow > li:not(:last-child) dl::after {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%);
      }
      .flow > li:not(:last-child) dl::before {
        border-width: 11px;
      }
      .flow > li:not(:last-child) dl::after {
        border-width: 10px;
      }
      .flow > li dl dt {
        font-size: 8px;
        font-weight: 300;
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
        margin-right: 1vw;
      }
      .flow > li dl dt .icon {
        font-size: 6px;
        padding: 2.5px 5px;
        margin-bottom: 5px;
        border-radius: 10px;
      }
  }
}
    