@charset "UTF-8";
.field_with_errors {
  display: contents;
}

li {
  list-style: none;
}

.gh-edit-content {
  background-color: #eee;
  margin-left: 260px;
  height: 100vh;
  overflow: auto;
}

.gh-edit-content .gh-edit-title {
  font-size: 32px;
  text-align: center;
}

.gh-edit-content .gh-edit-title span {
  font-size: 20px;
  display: block;
  color: #b6b8bf;
}

.gh-edit-content .gh-edit-fields {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #eee;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 14px;
  border-radius: 10px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field {
  text-align: center;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-1 span {
  color: red;
  font-size: 16px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span {
  font-size: 16px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span > button#address_btn {
  width: 70px;
  height: 30px;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span > button#address_btn :hover {
  opacity: 0.5;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 input, .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-3 span {
  color: green;
  font-size: 16px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 span {
  font-size: 16px;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 input, .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_0 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_0 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_0 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_1 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_1 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_1 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_2 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_2 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_2 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_3 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_3 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_3 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_4 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_4 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_4 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_5 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_5 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_5 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_6 {
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_6 a {
  padding: 10px;
  color: blue;
}

.gh-edit-content .gh-edit-fields .gh_edit_images_6 a.images_delete_btn {
  color: black;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .hidden input, .gh-edit-content .gh-edit-fields .hidden select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 90%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list img {
  width: 80px;
  height: 80px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list p.image_title {
  color: black;
  margin: 0 auto;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list p.delete_btn {
  color: black;
  width: 50px;
  margin: 0 auto;
  background-color: #dcdcdc;
  padding: 10px;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image input {
  display: none;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image label.gh_image_label {
  display: block;
  background-color: gray;
  color: white;
  padding: 10px;
  text-align: center;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-2-image label.gh_image_label .fa-camera {
  font-size: 15px;
}

.gh-edit-content .gh-edit-fields p.delete_btn {
  background-color: #dcdcdc;
  padding: 10px;
  width: 20%;
  margin: auto;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-submit input {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #666ad6;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
}

.gh-edit-content .gh-edit-fields .gh-edit-form-submit input:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gh-edit-content a {
  color: black;
  display: block;
  text-align: center;
}

.gh-edit-content a:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gh-edit-content .gh-edit-field-radio-1, .gh-edit-content .gh-edit-field-check-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-left: 20px;
}

.gh-edit-content .gh-edit-field-radio-1 label, .gh-edit-content .gh-edit-field-check-1 label {
  padding-left: 10px;
  display: block;
}

.gh-edit-content .gh-edit-field-radio-1 .residential_style_textfield, .gh-edit-content .gh-edit-field-radio-1 .staff_weekdaytime_textfield, .gh-edit-content .gh-edit-field-radio-1 .barrier_free_textfield, .gh-edit-content .gh-edit-field-check-1 .residential_style_textfield, .gh-edit-content .gh-edit-field-check-1 .staff_weekdaytime_textfield, .gh-edit-content .gh-edit-field-check-1 .barrier_free_textfield {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
}

.gh-edit-content .gh-edit-field-radio-1 .valid_disability_textfield, .gh-edit-content .gh-edit-field-check-1 .valid_disability_textfield {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
  display: none;
}

.gh-edit-content .gh-edit-field-radio-1 #valid_disabilityその他:checked ~ .valid_disability_textfield, .gh-edit-content .gh-edit-field-check-1 #valid_disabilityその他:checked ~ .valid_disability_textfield {
  display: block;
}

.gh-edit-content .gh-edit-field-radio-1 #valid_disabilityその他:checked ~ label, .gh-edit-content .gh-edit-field-check-1 #valid_disabilityその他:checked ~ label {
  width: 70px;
}

.gh-edit-content .short_input {
  width: 170px;
}

.price_1 {
  margin-top: 40px;
  margin-left: 40px;
}

.price_2 {
  margin-top: 40px;
  margin-left: 40px;
}

.price_3 {
  margin-top: 40px;
  margin-left: 40px;
}

.price_4 {
  margin-top: 40px;
  margin-left: 40px;
}

.price_5 {
  margin-top: 40px;
  margin-left: 40px;
}

.middle_input {
  width: 100px;
}

@media screen and (max-width: 750px) {
  .field_with_errors {
    display: contents;
  }
  li {
    list-style: none;
  }
  .gh-edit-content {
    background-color: #eee;
    margin-left: 2px;
    height: 100vh;
    overflow: auto;
  }
  .gh-edit-content .gh-edit-title {
    font-size: 24px;
    text-align: center;
  }
  .gh-edit-content .gh-edit-title span {
    font-size: 14px;
    display: block;
    color: #b6b8bf;
  }
  .gh-edit-content .gh-edit-fields {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #eee;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 14px;
    border-radius: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field {
    text-align: center;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-1 span {
    color: red;
    font-size: 14px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 100%;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span {
    font-size: 14px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span > button#address_btn {
    width: 80px;
    height: 25px;
    text-align: center;
    background-color: blue;
    border-radius: 5px;
    color: white;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 span > button#address_btn :hover {
    opacity: 0.5;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 ul li label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 input, .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 select {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    width: 200px;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-2 .long_input {
    width: 100%;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-3 {
    display: block;
    text-align: start;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-3 label {
    display: inline;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-3 span {
    display: inline;
    color: green;
    font-size: 14px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 span {
    font-size: 14px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 ul li label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 input, .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 select {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    width: 200px;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .gh-edit-field-4 #gh_construction_year {
    width: 160px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .hidden input, .gh-edit-content .gh-edit-fields .gh-edit-field .hidden select {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-field .short_input input {
    width: 100px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list img {
    width: 80px;
    height: 80px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list p.image_title {
    color: black;
    margin: 0 auto;
    padding: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image .image-lists .image-list p.delete_btn {
    color: black;
    width: 50px;
    margin: 0 auto;
    background-color: #dcdcdc;
    padding: 10px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image input {
    display: none;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image label {
    display: block;
    background-color: #dcdada;
    padding: 10px;
    text-align: center;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-2-image label .fa-camera {
    font-size: 15px;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-submit input {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #666ad6;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
  }
  .gh-edit-content .gh-edit-fields .gh-edit-form-submit input:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .gh-edit-content a {
    color: black;
    display: block;
    text-align: center;
  }
  .gh-edit-content a:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .gh-edit-content .gh-edit-field-radio-1, .gh-edit-content .gh-edit-field-check-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gh-edit-content .gh-edit-field-radio-1 label, .gh-edit-content .gh-edit-field-check-1 label {
    padding-left: 10px;
    display: block;
    width: 55px;
  }
  .gh-edit-content .gh-edit-field-radio-1 label.residential_style_label, .gh-edit-content .gh-edit-field-check-1 label.residential_style_label {
    width: 250px;
    text-align: start;
  }
  .gh-edit-content .gh-edit-field-radio-1 .residential_style_textfield, .gh-edit-content .gh-edit-field-radio-1 .staff_weekdaytime_textfield, .gh-edit-content .gh-edit-field-radio-1 .barrier_free_textfield, .gh-edit-content .gh-edit-field-check-1 .residential_style_textfield, .gh-edit-content .gh-edit-field-check-1 .staff_weekdaytime_textfield, .gh-edit-content .gh-edit-field-check-1 .barrier_free_textfield {
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 10px;
  }
  .gh-edit-content .gh-edit-field-radio-1 .valid_disability_textfield, .gh-edit-content .gh-edit-field-check-1 .valid_disability_textfield {
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #979797;
    outline: none;
    margin-left: 10px;
    display: none;
  }
  .gh-edit-content .gh-edit-field-radio-1 #valid_disabilityその他:checked ~ .valid_disability_textfield, .gh-edit-content .gh-edit-field-check-1 #valid_disabilityその他:checked ~ .valid_disability_textfield {
    display: block;
  }
  .gh-edit-content .gh-edit-field-radio-1 #valid_disabilityその他:checked ~ label, .gh-edit-content .gh-edit-field-check-1 #valid_disabilityその他:checked ~ label {
    width: 70px;
  }
  iframe {
    width: 160px;
    height: 160px;
  }
  .price_1 {
    margin-top: 40px;
    margin-left: 40px;
  }
  .price_2 {
    margin-top: 40px;
    margin-left: 40px;
  }
  .price_3 {
    margin-top: 40px;
    margin-left: 40px;
  }
  .price_4 {
    margin-top: 40px;
    margin-left: 40px;
  }
  .price_5 {
    margin-top: 40px;
    margin-left: 40px;
  }
  .residential_style_label {
    width: 300px;
    display: block;
  }
}
/*# sourceMappingURL=edit.css.map */