<% if company_signed_in? %>
<% if Favorite.find_by(company_id: current_company.id, iryo_id: iryo.id) %>
<%= link_to iryo_favorites_path(iryo), method: :delete, remote: true, class: "favorite_btn_destroy", data:
{confirm: '申請を取りやめますか?'} do %>
<i class="fas fa-star"> </i>
申請済み
<% end %>
<% else %>
<%= link_to iryo_favorites_path(iryo), method: :post, remote: true, class: "favorite_btn_create", data:
{confirm: '申請をしますか?'} do %>
<i class="far fa-star"></i>
申請する
<% end %>
<% end %>
<% else %>
<div class="favorite-btn">
  <i class="far fa-star"></i>
  <%= iryo.favorites.count %>
</div>
<% end %>