@charset "UTF-8";
.sagaseru-index-content {
  overflow: auto;
  height: 100vh;
  margin-left: 260px;
  background-color: #eee;
}

.sagaseru-index-content .sageseru-index-title {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.sagaseru-index-content .sagaseru-search-forms {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #eee;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form label {
  width: 150px;
  display: block;
  text-align: right;
  margin-right: 20px;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form input {
  display: block;
  padding: 0 20px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form input#search_age_from, .sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form input#search_age_to {
  width: 100px;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-form select {
  display: block;
  position: relative;
  padding: 0 20px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-btn input {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 5%;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-search-btn input:hover {
  opacity: 0.5;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-index-reset a {
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 35%;
  right: 5%;
  text-decoration: none;
}

.sagaseru-index-content .sagaseru-search-forms .sagaseru-index-reset a:hover {
  opacity: 0.5;
}

.sagaseru-index-content .sagaseru-indexes {
  width: 95%;
  padding: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #eee;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 14px;
  border-radius: 10px;
}

.sagaseru-index-content .sagaseru-indexes table {
  margin: 0 auto;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.sagaseru-index-content .sagaseru-indexes table th {
  border-bottom: 1px solid black;
  /**/
  padding: 10px;
}

.sagaseru-index-content .sagaseru-indexes table td {
  padding: 20px;
  border-bottom: 1px dashed black;
  /**/
  text-align: center;
  /*破線 1px オレンジ*/
}

.sagaseru-index-content .sagaseru-indexes table a {
  display: block;
  -webkit-box-shadow: 3px 3px 5px #a78b90;
          box-shadow: 3px 3px 5px #a78b90;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */