.fukushi-new-content {
  padding: 0px 100px;
  margin: 0 auto;
}

.fukushi-new-content .sageseru-new-title {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  width: 500px;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash, .fukushi-new-content .fukushi-new-forms .fukushi-new-form, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash span, .fukushi-new-content .fukushi-new-forms .fukushi-new-form span, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn span {
  color: red;
  font-size: 12px;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash select, .fukushi-new-content .fukushi-new-forms .fukushi-new-form select, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn select {
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash select .triangle, .fukushi-new-content .fukushi-new-forms .fukushi-new-form select .triangle, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn select .triangle {
  width: 100px;
  height: 100px;
  background-color: black;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash input, .fukushi-new-content .fukushi-new-forms .fukushi-new-form input, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn input {
  margin-top: 10px;
  padding-left: 10px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash .fukushi-new-form-activehash2, .fukushi-new-content .fukushi-new-forms .fukushi-new-form .fukushi-new-form-activehash2, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn .fukushi-new-form-activehash2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash .fukushi-new-form-activehash2 input, .fukushi-new-content .fukushi-new-forms .fukushi-new-form .fukushi-new-form-activehash2 input, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn .fukushi-new-form-activehash2 input {
  margin-top: 0px;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-form-activehash .fukushi-new-form-activehash2 label, .fukushi-new-content .fukushi-new-forms .fukushi-new-form .fukushi-new-form-activehash2 label, .fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn .fukushi-new-form-activehash2 label {
  padding-left: 10px;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #666ad6;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
  width: auto;
}

.fukushi-new-content .fukushi-new-forms .fukushi-new-submit-btn:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=new.css.map */