// 登録画面でのエラーメッセージ
.alert_danger{
  text-align: center;
  color: red;
  background-color: #fff1f1;
  li{
    padding: 5px
  }
  
}

@media screen and (max-width: 750px) {

  // 登録画面でのエラーメッセージ
  .alert_danger{
    text-align: center;
    color: red;
    background-color: #fff1f1;
    li{
      padding: 5px
    }
    font-size: 12px;
    
  }

}