$fbutton: white;
$bbutton: rgba(140, 243, 140, 0.651);


.footer_main{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #eee;
  
  .footer_main_logo{
    display: block;
    width: 200px;
  }

  .contact_form_tel{
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 1px 1px 1px;

    a{
      padding: 15px;
    }


    span{
      padding-left: 10px;
    }
  }
}