$fbutton: white;
$bbutton: rgba(140, 243, 140, 0.651);

// スマホサイズはnone
.header_main_sm{
  display: none;
}

.header_main{

  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #eee;
  
  .header_main_logo{
    display: block;
    width: 300px;
    height: 100px;
  }

  .contact_form{

    display: flex;
    justify-content: space-between;

    .contact_form_tel{
      display: flex;
      align-items: center;
      margin-left: 15px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

      a{
        padding: 15px;
      }
  
  
      span{
        padding-left: 10px;
      }
    }

  }
}




@media screen and (max-width: 750px) {
  
  .header_main{
    display: none;
  }

  .header_main_sm{
    // padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #eee;
    
    .header_main_logo{
      display: block;
      width: 150px;
      height: 50px;
    }
  
    .contact_form{
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .contact_form_tel{
        margin-right: 20px;
        
        a{
          padding: 5px 10px;
          border-radius: 100%;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
      }
      a.contact_form_test{
        padding: 5px 10px;
        border-radius: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    }
  }
}