$fbutton: white;
$bbutton: rgba(140, 243, 140, 0.651);


.header_main{
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #eee;
  
  .header_main_logo{
    display: block;
    width: 300px;
    height: 100px;
  }

  .contact_form{

    display: flex;
    justify-content: space-between;

    .contact_form_tel{
      display: flex;
      align-items: center;
      margin-left: 15px;
      border-radius: 10px;
      border: 1px solid;
      box-shadow: 1px 1px 1px;

      a{
        padding: 15px;
      }
  
  
      span{
        padding-left: 10px;
      }
    }

  }
}