.short_input{
  input{
    width: 100px;
  }
}

.middle_input{
  width: 100%;
  input{
    width: 200px;
  }
}

.middle_height{
  height: 150px;
  word-break : break-all;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}