select {
  -webkit-appearance: button;
  appearance: button;
  overflow: hidden;
  width: 50%;
  text-align: center;
  margin: 10px 0px;
  padding: 3px 20px;
  position: relative;
  border-radius: 2px;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid rgb(185, 179, 179);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

select select::-ms-expand {
    display: none;
}