<div class="footer-main">
  <%= image_tag 'logo.jpeg', class:'footer-main-logo' %>
  <div class="contact-form">
    <div class="contact-form-tel">
      <i class="fas fa-phone-volume"></i>
      <span>080-7283-1647</span>
    </div>
  </div>
</div>