<div class="header_main">
  <%= link_to '/' do %>
  <%= image_tag 'logo.jpeg', class:'header_main_logo' %>
  <% end %>
  <div class="contact_form">
    <div class="contact_form_tel">
      <a href="tel:080-7283-1647">
        <i class="fas fa-phone-volume"> 080-7283-1647</i>
      </a>
    </div>
  </div>
</div>

<div class="header_main_sm">
  <%= link_to '/' do %>
  <%= image_tag 'logo.jpeg', class:'header_main_logo' %>
  <% end %>
  <div class="contact_form">
    <div class="contact_form_tel">
      <a href="tel:080-7283-1647">
        <i class="fas fa-phone-volume"></i>
      </a>
    </div>
  </div>
</div>