@charset "UTF-8";
.field_with_errors {
  display: contents;
}

.password-new-content .password-new-title {
  font-size: 32px;
  text-align: center;
}

.password-new-content .password-new-title span {
  font-size: 16px;
  display: block;
  color: #b6b8bf;
  width: 50%;
  margin: 0 auto;
}

.password-new-content .password-new-fields {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.password-new-content .password-new-fields .password-new-field {
  border-radius: 10px;
  text-align: center;
}

.password-new-content .password-new-fields .password-new-field .alert_danger {
  background-color: #fff1f1;
}

.password-new-content .password-new-fields .password-new-field .password-new-field-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.password-new-content .password-new-fields .password-new-field .password-new-field-1 span {
  color: red;
  font-size: 16px;
}

.password-new-content .password-new-fields .password-new-field .password-new-field-2 span > button#address_btn {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
  color: white;
}

.password-new-content .password-new-fields .password-new-field input, .password-new-content .password-new-fields .password-new-field select {
  display: block;
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
}

.password-new-content .password-new-fields .password-new-field .password-new-field-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.password-new-content .password-new-fields .password-new-field .password-new-field-2 span {
  color: green;
  font-size: 16px;
}

.password-new-content .password-new-fields .password-new-field-check .alert_danger {
  background-color: #fff1f1;
  text-align: center;
}

.password-new-content .password-new-fields .password-new-field-check .password-new-field-check-1 span {
  color: red;
  font-size: 16px;
}

.password-new-content .password-new-fields .password-new-field-check .password-new-field-check-2 {
  margin-top: 10px;
  word-break: break-all;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.password-new-content .password-new-fields .password-new-field-check .password-new-field-check-2 .password-new-field-check-3 {
  padding: 10px;
  padding-left: 20px;
}

.password-new-content .password-new-fields .password-new-field-check .password-new-field-check-2 .password-new-field-check-3 .service_type_textfield {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #979797;
  outline: none;
  margin-left: 20px;
  display: none;
}

.password-new-content .password-new-fields .password-new-field-check .password-new-field-check-2 .password-new-field-check-3 #service_typeその他:checked ~ .service_type_textfield {
  display: block;
}

.password-new-content .password-new-fields .password-new-field-button input {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #666ad6;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
}

.password-new-content .password-new-fields .password-new-field-button input:hover {
  opacity: 0.5;
  cursor: pointer;
}

.password-new-content a {
  color: black;
  display: block;
  text-align: center;
}

.password-new-content a:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=new.css.map */