.fukushi-container{
  padding: 50px 200px;
  
  .fukushi-description{
    display: flex;
    justify-content: space-evenly;
    
    .fukushi-description-text{

      span{
        display: block;
        text-align: center;
        font-size: 28px;
        color: rgb(0, 255, 42);
        border-bottom: 1px solid rgb(0, 255, 42);
        width: 265px;
        padding-top: 50px;
        margin-bottom: 10px;
      }

      p{
        font-size: 18px;
      }

    }

    .fukushi-description-img{
      img{
        width: 500px;
      }
    }
  }
}