/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

// フラッシュメッセージ
.alert{
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #f8ffd3;
  width: 50%;
  margin: 0px auto;
  margin-bottom: -30px;
}

// 登録画面でのエラーメッセージ
.alert_danger{
  text-align: center;
  color: red;
  background-color: #fff1f1;
  li{
    padding: 5px
  }
  
}

@import "reset";